
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
:root{
    --font-display:'Share Tech Mono', monospace;
    --font-display-content:'Mukta', sans-serif;;
    --spacing:20px;
}


body{
    background-color: rgb(31, 0, 155);
}

h5{
    color: rgb(119, 71, 251);
    font-size: 16px;
    line-height: atuo;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 60px;}

#myname{
    margin-bottom: 100px;
}

.div-container {
    display: flex;
    }

h1{
    color: rgb(251, 242, 31);
    font-size:66px;
    line-height: 70px;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: left;
    margin-top:-30px;
}

.star{
    font-size: 150px;
    color:#120536;
}

.star:hover {
    color: #FBF21F; 
  }

h2{
    color: rgb(251, 242, 31);
    font-size: 30px;
    line-height: 36px;
    font-weight: 200;
    letter-spacing: 1px;
    margin-top:-0px;
    text-align: left;}

h3{
    color: rgb(119, 71, 251);
    font-size:32px;
    line-height: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom:60px;
    }

h4{ color:#120536;
    font-size:20px;
    line-height: 26px;
    font-weight: 500;
    margin-top:-40px;
    margin-bottom:100px;
    letter-spacing: 1px;
    }


.shine a {
        text-decoration: none; 
        color: #120536; 
      }
      
.shine a:hover { 
    color: #FBF21F; 
      }


blockquote{
    color:rgb(119, 60, 255);
    font-size:28px;
    line-height: 36px;
    text-align: left;
}


#classname{font-size: 18px;
    line-height: 20px;
    color: rgb(119, 60, 255);}

p{
    color:rgb(113, 75, 202);
    font-size:18px;
    font-weight: 300;
    width:80%;
    line-height: 32px;
    margin-bottom:100px;
}

#bottom{
    font-family: 'Mukta', sans-serif;}



#Homepage-section1{
    margin-bottom: 150px;
}

#section2{margin-top: 150px;
}

footer{
    background-color:rgb(119, 60, 255);
    padding:40px;
    width:auto;
}

