
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
:root{
    --font-display:'Share Tech Mono', monospace;
    --font-display-content:'Mukta', sans-serif;;
    --spacing:10%;
}


/* ---------------------------------------Navigation---------------------------------------*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0b0131;
    width: 100%;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    border-radius: 20%; 
    color: rgb(162, 128, 255); 
}

nav a:hover {
    color: rgb(251, 242, 31);
 }
 
 
nav ul {
    padding: 0;
    margin: 0;
    text-align: right;  
}

nav li {
    display: inline-block;
    margin-left: 10px; 
}

nav #logo {
    float: left; 
    font-size: 50px;
}

.triggered-nav {
    color:rgb(251, 242, 31) ;
    margin-left: 10px; 
    padding: 5px;
}


/* ---------------------------------------Home page---------------------------------------*/

body{
    background-color:#0b0131;
}

#Homepage-section1{
    margin-top: 80px;
    margin-bottom: 80px;
}

h5{
    color: rgb(162, 128, 255);
    font-size: 16px;
    line-height: atuo;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 40px;}

.article-date{
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 40px;;
}

#myname{
    margin-bottom: 100px;
}

.div-container {
    display: flex;
}

    
h1{
    color: rgb(251, 242, 31);
    font-size:58px;
    line-height: 70px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: left;
    margin-top:0px;
    margin-bottom:10px;
}

.star{
    font-size: 150px;
    color:rgb(28, 0, 104);
    text-align: center;
}

.star:hover {
    color: #FBF21F;
    transition-duration: 0.3s;
	transition-property: #FBF21F;
	transition-timing-function: linear, ease-in-out;
    transform: scale(108%);
}



  
h2{
    color: rgb(251, 242, 31);
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top:30px;
    text-align: left;
}


.container-menu {
    flex-wrap: wrap;
}

.menu-item {
  flex:1;
  width: 100%; 
  margin-bottom:100px;
}



h3{
    color: rgb(162, 128, 255);
    font-size:30px;
    line-height: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom:60px;
}

h4{ color:rgb(162, 128, 255);
    font-size:22px;
    line-height: 30px;
    font-weight: 300;
    margin-top:-40px;
    margin-bottom:20px;
    letter-spacing: 1px;
}


.shine a {
         text-decoration: none;
        color: #120536; 
}
      
.shine a:hover { 
    color: rgb(162, 128, 255); 
    text-decoration:
}

.button a {
        text-decoration: none;
        color: rgb(162, 128, 255) ; 
        border-style:solid;
        border-color:rgb(162, 128, 255) ;
        font-size:18px;
        border-radius: 25px;
        padding-left:24px;
        padding-right:24px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-weight: 400;
}
     
.button a:hover { 
    color: #FBF21F; 
        border-style:solid;
        border-color: #FBF21F;
}      



/* ---------------------------------------Content page---------------------------------------*/

/* h1 */

.article-title{
    font-size:42px;
    line-height: 52px;
    margin-top:60px;
}

/* h2 */
.article-subtitle{
    font-size:24px;
    line-height: 30px;
    color:rgb(162, 128, 255);
    margin-top: 40px;
}

/* star */
.star_inarticle{
    display: none;
    opacity: 0%;
    font-size: 300px;
    color:rgb(28, 0, 104);
    position: fixed;
    top: 70%;
    transform:translateY(-50%);
    rotate: 30deg;
}

.star_inarticle:hover {
    color: #FBF21F;
    transition-duration: 0.2s;
	transition-property: #FBF21F;
	transition-timing-function: linear, ease-in-out;
    transform: scale(108%);
}

/* h5 */
.classname{
    display: none;
    text-align: right;
}

.article-date{
    margin-top:-60px;
}


blockquote{
    color:#ffffff;
    font-size:28px;
    line-height: 36px;
    margin-bottom:80px;
    text-align: left;
    width: 100%;
}

p{
    color:rgb(220, 220, 239);
    font-size:20px;
    font-weight: 100;
    width:100%;
    line-height: 32px;
    margin-bottom:80px;
    letter-spacing: 1px;
}



#section2{margin-top: 150px;
}

h6{
    color: rgb(162, 128, 255);
    font-size: 24px;
    line-height: atuo;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 24px;
    width:75%;
}

.article-link a {
        color: rgb(162, 128, 255) ; 
        text-decoration:none;
        font-weight: 400;
}
     
.article-link a:hover { 
    color: #FBF21F; 
    text-decoration:underline;
}      


/* ==============================footer---------------------------------------*/

hr{
    margin-bottom:40px ;
    opacity: 20% ;
}

footer{
    padding-bottom:40px;
    padding-top:40px;
    position:sticky;
}

.container_footer{
    display:flex;
    flex-wrap: wrap;
    }

#footerbookname {
    margin-top:80px;
    line-height: 56px;
    margin-bottom:0px;
    font-size: 50px;
}

/* ==============================1080---------------------------------------*/

@media screen and (min-width:1280px) { 

:root{
        --font-display:'Share Tech Mono', monospace;
        --font-display-content:'Mukta', sans-serif;;
        --spacing:20px;
    }

    #Homepage-section1{
        margin-top:180px;
        margin-bottom: 180px;
    }

.div-container {
    justify-content: center;
    }
        

h5 {font-size: 18px;
    }



.star{
      font-size: 320px;}

h1{
    font-size: 160px;
    margin-bottom:100px;
    text-align: center;
}    


h2{
    font-size: 50px;
    line-height: 60px;
    margin-top:80px;
    text-align: center;}    


.container-menu {
    display:flex;
    flex-wrap: wrap;
    margin-top:-80px;
    align-items: center;
    }
    
.menu-item {
    width: calc(33.33%);
    margin-right:100px;
    }

h3{
    font-size:28px;
    }

h4{
    font-size:24px;
    }

/* ============================== 1080 Content page---------------------------------------*/

.nav_button{
    right: 2%;
    top: 80%;
    margin-right:50px;
}

  .nav_button a {
    font-size:16px;
    padding:24px;
    padding-top:32px;
    padding-bottom:32px;
}  

/* h1 */

.article-title{
    font-size:60px;
    line-height: 70px;
    margin-top:60px;
    max-width:80%;
    text-align: left;
}

/* h2 */
.article-subtitle{
    font-size:32px;
    line-height: 40px;
    text-align: left;  
} 

.article-date{
    margin-top:80px;
    margin-bottom:80px;
} 

.star_inarticle{
    display: inline;
    opacity: 100%;
    font-size: 1100px;
    text-align:right;
    position: fixed;
    right: 0%;
    top: 78%;
    transform:translateY(-50%);
}

blockquote{
    font-size:32px;
    line-height: 40px;
    margin-top:0px;
    margin-bottom:100px;
    width:60%;
    }
  
p{
    font-size:20px;
    font-weight: 100;
    width:60%;
    line-height: 32px;
    margin-bottom:100px;
    letter-spacing: 1px;
    }
        
.star_inarticle_2{
    display:none;
}

h6{
    font-size: 20px;
    line-height: atuo;
    margin-bottom: -20px;
    width:75%;}
}

.container_footer{
    display: flex;
    justify-content: space-between;
    }
